<footer class="footer" style="background-color: black;">
    <!-- <img src="../../assets/img/footer.jpg" alt="oncloud33" style="width: 100%;"> -->
    <div  class="container">
        <div  class="row">
            <div  class="credits ml-auto">
                <p  style="color: white;">Disclaimer : The content is for information purposes only and does not constitute an offer to avail of any service. Prices mentioned are subject to change without notice and properties mentioned are subject to availability. Images for representation purposes only. This is the official website of authorized marketing partner. We may share data with RERA registered brokers/companies for further processing. We may also send updates to the mobile number/email id registered with us. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
