<div class="container about">

    <div class="section profile-content">
        
            <div class="row" style="margin-right: 0;">
                <div class="col-lg-6 col-md-12" style="padding-right: 0px;background-color: #132343 !important;">
                    <img src="../../assets/img/aurobindo_images/1.png" class="img-responsive ab-img">
                </div>
                <div class="col-lg-6 col-md-12">
                    <div style="align-content: center;align-items: center;flex-wrap: wrap;position: relative;">
                      <div class="txt-margin">  
                        <h1 style="font-size: 3.5rem;color: #cea092;font-family: 'STIX Two Text';">Higher Order of <b style="color: white;font-family: 'Ruthie', cursive !important;">Luxury</b></h1>
                        <p style="font-size: 2rem;color: #cea092;font-family: 'STIX Two Text';">Single Floor Single Sky Mansion in HITEC City</p>
                        <p style="font-size: 1rem;color: #cea092;font-family: 'STIX Two Text';">Exclusive 4BHK- 5400 sq. ft</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

 </div>   