<div class="container about">
  <div class="section profile-content">
    <div class="row" style="margin-right: 0">
      <div
        class="col-lg-6 col-md-12"
        style="padding-right: 0px; background-color: black !important"
      >
        <img
          src="../../assets/img/western/Image-49.jpg"
          class="img-responsive ab-img"
          alt="Western Marina"
        />
      </div>
      <div class="col-lg-6 col-md-12">
        <div
          style="
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
          "
        >
          <div class="txt-margin">
            <h1
              style="
                font-size: 3.5rem;
                background-image: linear-gradient(
                  to right,
                  #ffd841,
                  #b97a0b 80%
                ) !important;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                font-family: 'STIX Two Text';
              "
            >
              Higher Order of<br>
              <b style="color: white; font-family: 'Ruthie', cursive !important"
                >Luxury</b
              >
            </h1>
            <p
              style="
                font-size: 2rem;
                background-image: linear-gradient(
                  to right,
                  #ffd841,
                  #b97a0b
                ) !important;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'STIX Two Text';
              "
            >
            RESIDENTIAL ULTRA LUXURIOUS 4BHK APARTMENTS in Nanakaramguda, Financial District
            </p>
            <p
              style="
                font-size: 1rem;
                background-image: linear-gradient(
                  to right,
                  #ffd841,
                  #b97a0b
                ) !important;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: 'STIX Two Text';
              "
            >
              Exclusive 4BHK- 5440 Sft - 10845  sq. ft
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
