<div class="wrapper" style="margin-top: 0.5%; background-color: black">
  <div class="container profile-content">
    <div class="row" style="margin-right: 0">
      <div class="col-lg-12 col-md-12" style="padding-right: 0px">
        <h6
          class="about_m_text"
          style="
            margin-top: 0px;
            font-weight: bolder;
            color: #c27555;
            text-align: center;
          "
        >
          Gallery
        </h6>
        <div class="row">
            <div class="col-md-4" *ngFor="let image of _album; let i=index">
                <img [src]="image.thumb" (click)="openLightbox(i)" width="100%" style="margin-bottom: 6%;" alt="western+i"/>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
