
<div class="wrapper" id="home" style="background-color: black;">
  <div class="page-header section-dark homeBanner">
    <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img class="fimage" src="../../assets/img/western/gold-logo.png" alt="">
                    </div>
                    <h1  style=" background-image: linear-gradient(
                      to right,
                      #ffd841,
                      #b97a0b
                    ) !important;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;">Western Marina</h1>
                    <p style="font-size: 1.2rem;">RERA.NO: P02400005389 </p>
                </div>
            </div>
        </div>
        <h6 class=" category-absolute ml-auto mr-auto" style="color: #fff;">A Passionate offering by <b style=" background-image: linear-gradient(
          to right,
          #ffd841,
          #b97a0b
        ) !important;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;">Western Construction</b></h6>
  </div>

  <div class="float-bottom forall desk-none noth">
    <div class="one-box">
      <a href="javascript:void()" (click)="open()">
        <div class="img-icon">
          <i class="far fa-edit"></i>
        </div>
        <div class="txt-icon">Enquire Now</div>
      </a>
    </div>
  </div>
  <app-navigation></app-navigation>
  <div id="about" style="background-color: black;">
    <app-about></app-about>
  </div>
  <div id="section" style="background-color: black;">
    <section
      class="section profile-content"
    >
      <div class="container">
        <div class="row">
          <div class="col-lg-3" style="margin-top: 4%; border: 1px solid #fff">
            <p class="sec_dt">TYPE</p>
            <p class="sec_dt">Apartment</p>
          </div>
          <div class="col-lg-3" style="margin-top: 4%; border: 1px solid #fff">
            <p class="sec_dt">AREA</p>
            <p class="sec_dt">7.75 Acres</p>
          </div>
          <div class="col-lg-3" style="margin-top: 4%; border: 1px solid #fff">
            <p class="sec_dt">TOWERS</p>
            <p class="sec_dt">4 Tower - 3 sellers + Stealt + G + 45 Floors</p>
          </div>
          <div class="col-lg-3" style="margin-top: 4%; border: 1px solid #fff">
            <p class="sec_dt">TOTAL UNITS</p>
            <p class="sec_dt">450 Units</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="master" style="background-color: black;">
    <div class="wrapper" id="carousel" style="background-color: black;">
        <div class="tim-title">
          <h6 class="about_m_text" style="text-align: center; color: #C27555;">Project Layout Plan</h6>
        </div>
        <div class="row" style="margin-right: 0">
          <div class="col-md-12 mr-auto ml-auto" style="padding-right: 0px">
            <div class="card page-carousel">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img
                    src="../../assets/img/western/layout-1.png"
                    alt="Western Marina master layout"
                    style="height: auto"
                  />
                </ng-template>
              </ngb-carousel>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div id="pricing" style="background-color: black;">
    <app-pricing></app-pricing>
  </div>
  <div id="gallery" style="background-color: black;">
    <app-gallery></app-gallery>
  </div>
  <div id="location">
    <app-location></app-location>
  </div>
  <app-footer></app-footer>
</div>
