.sec_dt {
  color: white;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}
@media only screen and (max-width: 769px) {
  .sec_dt {
    color: white;
    text-align: center;
    font-size: small;
    font-weight: 600;
  }
}
.sec_d {
  width: 10%;
}
@media only screen and (max-width: 769px) {
  .sec_d {
    width: 26%;
  }
}

.homeBanner {
  background-image: url("../../assets/img/western/sitec-1.jpg");
}
@media only screen and (max-width: 769px) {
  .homeBanner {
    background-image: url("../../assets/img/western/Image-49.jpg");
  }
}
.desk-none {
  display: block;
}

.float-bottom.gcbr {
  display: block;
  position: fixed;
  bottom: 1px;
  z-index: 99;
}
.float-bottom {
  position: fixed;
  bottom: 0px;
  z-index: 99;
  width: 100%;
  padding: 9px 0px;
  background: linear-gradient(
    to right,
    #ffd841,
    #b97a0b
  ) !important;
  border-radius: 0rem;
}
.one-box {
  text-align: center;
  float: left;
  width: 33%;
}
.float-bottom.forall .txt-icon {
  font-size: 12px;
}
.float-bottom.forall {
  bottom: 0rem;
  margin-left: 0rem;
}
.home .noth {
  display: none;
}
.img-icon i {
  background: transparent;
  padding: 2px 5px;
  color: #fcf5f5;
  font-size: 1.2rem;
  animation: shake 4.72s ease infinite;
}
.txt-icon {
  color: #fff;
  font-size: 13px;
  animation: shake 4.72s ease infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media (min-width: 100px) and (max-width: 768px) {
  .desk-none {
    display: block;
  }
  .float-bottom.gcbr {
    display: block;
    position: fixed;
    bottom: 1px;
    z-index: 99;
  }
  .float-bottom {
    position: fixed;
    bottom: 0px;
    z-index: 99;
    width: 93%;
    padding: 9px 0px;
    background: #c27555;
    border-radius: 2rem;
  }
  .one-box {
    text-align: center;
    float: left;
    width: 30%;
  }
  .float-bottom.forall .txt-icon {
    font-size: 12px;
  }
  .float-bottom.forall {
    bottom: 1rem;
    margin-left: 1rem;
  }
  .home .noth {
    display: none;
  }
  .img-icon i {
    background: transparent;
    padding: 2px 5px;
    color: #fcf5f5;
    font-size: 1.2rem;
  }
  .txt-icon {
    color: #fff;
    font-size: 13px;
  }
}

@media (min-width: 350px) and (max-width: 400px) {
  .floating-btn.forall {
    right: -36%;
  }
  .floating-btn {
    right: -36%;
  }
}

@media (min-width: 401px) and (max-width: 500px) {
  .floating-btn.forall {
    right: -32%;
  }
  /*.floating-btn {right: -36%;top: 35%;}*/
  .floating-btn {
    right: -34%;
    top: 48%;
  }
}
