<div class="wrapper" style="margin-top: 0.5%; background-color: transparent">
  <div class="section profile-content">
    <div class="row" style="margin-right: 0">
      <div class="col-lg-12 col-md-12">
        <div
          style="
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
          "
        >
          <div style="text-align: center">
            <h6
              class="about_m_text"
              style="
                margin-top: 0px;
                font-weight: bolder;
                color: #c27555;
                text-align: center;
              "
            >
              Amenities
            </h6>
            <div
              class="row"
              style="background-image: url('../../assets/images/bg4-home3.png')"
            >
              <div class="col-sm-2">
                <img src="../../assets/icon/security-specifications.webp" alt="Type" />

                <div style="color: antiquewhite">
                  <p>Survilliance Camera</p>
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/school.png" width="25%" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                Library
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/rescue.png" width="25%" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                Swimming Pool
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/fitness.png" width="25%" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                Gym
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/caduceus.png" width="25%" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                Pharmacy
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/runner.png" width="25%" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                Jogging Track
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/hall.png" width="25%" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                Community hall
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/fountain.png" width="25%" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                Banquet Hall
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/football.png" width="25%" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                Outdoor Games
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/mall.png" width="25%" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                Utility Shop
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/garden.png" width="25%" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                Garden
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/kids-play-area.svg" width="25%" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                Kids Play Area
                </div>
              </div>
            </div>
            <table class="table table-bordered" style="font-size: large;margin-top: 5%;">
              <thead style="color: azure;">
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">Size</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody style="color: azure;">
                <tr>
                  <td>4 BHK</td>
                  <td>5,751 sqft</td>
                  <td>&#8377; 6.04 Cr</td>
                </tr>
                <tr>
                  <td>4 BHK</td>
                  <td>6,723 sqft</td>
                  <td>&#8377; INR 7.06 Cr</td>
                </tr>
                <tr>
                  <td>4 BHK</td>
                  <td>6,858 sqft</td>
                  <td>&#8377; INR 7.20 Cr</td>
                </tr>
                <tr>
                  <td>4 BHK</td>
                  <td>9,999 sqft</td>
                  <td>&#8377; INR 10.50 Cr</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
