<div class="wrapper" style="margin-top: 0.5%; background-color: transparent">
  <div class="section profile-content">
    <div class="row" style="margin-right: 0">
      <div class="col-lg-12 col-md-12">
        <div
          style="
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
          "
        >
          <div style="text-align: center">
            <h6
              class="about_m_text"
              style="
                margin-top: 0px;
                font-weight: bolder;
                color: #c27555;
                text-align: center;
              "
            >
              Amenities
            </h6>
            <div
              class="row"
              style="background-image: url('../../assets/images/bg4-home3.png')"
            >
              <div class="col-sm-2">
                <img src="../../assets/icon/mound.svg" alt="Type" />

                <div style="color: antiquewhite">
                  <p>Mound and sculpture Court</p>
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/basketball.svg" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                  Basketball & Badminton Court
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/outdoor.svg" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                  Outdoor Cinema
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/pets.svg" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                  Pet’s Park
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/open.svg" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                  Open Air Theatre
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/senior.svg" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                  Senior Citizens Area
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/sports.svg" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                  Sports Bar
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/vr_t.svg" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                  VR Theatre
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/infinity.svg" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                  Infinity Pool
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/bowling.svg" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                  Bowling Alley
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/cardroom.svg" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                  Card Room/ Cigar Longue
                </div>
              </div>
              <div class="col-sm-2">
                <img src="../../assets/icon/co_working.svg" alt="Type" />
                <div
                  class="text-uppercase letter-spacing-02 lh-17"
                  style="color: antiquewhite"
                >
                  Co-working Spaces
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
