.sec_dt{
    color: white;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}
@media only screen and (max-width: 769px){
    .sec_dt{
        color: white;
        text-align: center;
        font-size: small;
        font-weight: 600;
    }
}
