<div class="container">
  <div class="section profile-content">
    <div class="row">
      <div class="col-lg-6 col-md-12" style="padding-right: 0px">
        <div class="overview-bg">
          <div class="overview">Overview</div>
          <p class="overview-txt">
            The Pearl by Aurobindo Realty is a vision that's crafted to elevate
            Hyderabad's luxury landscape to a whole new stratum of world-class
            extravagance. It is an iconic milestone that is a stunning
            confluence of luxury and elegance, where one can experience opulence
            with a lifestyle that exceeds a superior benchmark. Experience
            magical lifestyles, grand environs, stunning designs, and
            uber-luxurious amenities.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div
          style="
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
          "
        >
          <div style="text-align: center">
            <img
              src="../../assets/img/aurobindo_images/the-pearl-1-1.jpg"
              class="img-responsive ab-img1"
              alt="the pearl"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div
              style="
                align-content: center;
                align-items: center;
                flex-wrap: wrap;
                position: relative;
              "
            >
              <div style="text-align: center">
                <img
                  src="../../assets/img/aurobindo_images/2.png"
                  class="img-responsive ab-img"
                  alt="the pearl"
                />
              </div>
            </div>
          </div>
      <div class="col-lg-6 col-md-12" style="padding-right: 0px">
        <div class="overview-bg1">
          <div class="overview">Key Highlights</div>
          <ul style="color:antiquewhite">
            <li>
                Designed by globally-renowned and award-winning architect, M/S Chapman Taylor from London
            </li>
            <li>
                Seven majestic towers sprawling over 8.54 acres featuring 414 luxury 4 BHK apartments
            </li>
            <li>
                Single Floor Single Sky Mansions sparkling in Hyderabad's skyline
            </li>
            <li>
                Located in the heart of Hitec City near major business clusters and IT offices
            </li>
            <li>
                All bedrooms of the 4 BHK flats come with their sprawling private balconies with stunning views of the cityscape
            </li>
            <li>
                Separate home office & servant room
            </li>
            <li>
                Private foyers with two elevators for every Sky Mansion
            </li>
          </ul>
        </div>
      </div>
     
    </div>
  </div>
</div>
