<nav class="navbar navbar-expand-lg " color-on-scroll="500" style="background-color: #19284a;">
    <div class="container">
        <div class="navbar-translate">
            <img src="../../assets/img/aurobindo_images/footer-logo.png" class="angular-logo" style="max-width: 100%;width: 35%;margin-top: 0%;margin-bottom: 0%;" />
           
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" >
                    <a class="nav-link" rel="tooltip"  data-placement="bottom" routerLink="/about" routerLinkActive="active" >
                        About
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" rel="tooltip"  data-placement="bottom" routerLink="/Pricing" routerLinkActive="active">
                        Pricing
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" rel="tooltip"  data-placement="bottom" routerLink="/amenities" routerLinkActive="active">
                        Amenities
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" rel="tooltip"  data-placement="bottom" routerLink="/gallery" routerLinkActive="active"> 
                        Gallery 
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" rel="tooltip"  data-placement="bottom" routerLink="/floor" routerLinkActive="active">
                        Floor&nbsp;Plan
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" rel="tooltip"  data-placement="bottom" routerLink="/location" routerLinkActive="active">
                        Location
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
